# Git
.git
.gitignore

# Docker
Dockerfile*
docker-compose*
.dockerignore

# Dependencies
node_modules
venv
.venv
__pycache__
*.pyc

# Environment
.env
.env.*

# OS
.DS_Store
Thumbs.db

# Build
dist
build
